* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* blur for navbar */
/* .navblur {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
} */

.scrolling {
  -ms-overflow-style: none;
}
.scrolling::-webkit-scrollbar {
  display: none;
}